[submodule "3rdparty/cusplibrary"]
	path = 3rdparty/cusplibrary
	url = https://github.com/cusplibrary/cusplibrary
[submodule "3rdparty/libnpy"]
	path = 3rdparty/libnpy
	url = https://github.com/llohse/libnpy
[submodule "bench_utils/nsight_utils"]
	path = bench_utils/nsight_utils
	url = https://github.com/K-Wu/HET_nsight_utils
