.vscode/
*_example
!*_example/
bench_spmm_csr_batched
!bench_spmm_csr_batched/
bench_sddmm_csr_batched
!bench_sddmm_csr_batched/
bench_sddmm_csr
!bench_sddmm_csr/
bench_sparse2dense_csr
!bench_sparse2dense_csr/
bench_spmm_coo
!bench_spmm_coo/
bench_spmm_coo_batched
!bench_spmm_coo_batched/
bench_spmm_csr
!bench_spmm_csr/
bench_spmm_csr_op
!bench_spmm_csr_op/
matmul_bench
matmul_bench_static
!matmul_bench/
matmul_minimal_example_static
artifacts/
build/
bench_sddmm_csr_zerocopy
!bench_sddmm_csr_zerocopy/